body {
  background-color: rgb(252, 252, 252);
}

* {
  box-sizing: border-box;
}

.grid1 {
  grid-area: t;
}
.grid2 {
  grid-area: s;
}
.grid3 {
  grid-area: a;
}
.grid4 {
  grid-area: c;
}
.grid5 {
  grid-area: m;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  grid-template-areas:
    "t t t t t "
    "s s s s s "
    "a a a a a "
    "c c c c c "
    "m m m m m ";
}

.grid--item {
  border: 10px solid;
  border-image: linear-gradient(145deg, rgb(250, 246, 180), rgb(170, 214, 253))
    1;
}

.grid3,
.grid4,
.grid5 {
  margin-top: 400px;
  height: 300px;
}

.grid__container div h5 {
  max-width: fit-content;
  position: relative;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-bottom: rgb(136, 231, 136) double 1px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.grid2 {
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
  min-height: 120px;
}

.grid__container img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
  transform: translateX(-30%);
  opacity: 0;
  transition: transform 0.5s linear, opacity 0.8s linear;
}

.grid__container img.show--image {
  transform: translateX(0);
  opacity: 1;
}

.list-items {
  display: inline;
  font-size: 18px;
  margin: 100px;
  font-size: 30px;
  color: rgb(210, 240, 252);
  transition: color 1s, font-size 0.5s;
}

.change-color {
  font-size: 42px;
  color: rgb(226, 186, 9);
}

.button--scroll--left {
  position: absolute;
  left: 0px;
  top: 40%;
}

.button--scroll--right {
  position: absolute;
  right: 0px;
  top: 40%;
}

.button__container__left {
  position: absolute;
  height: 100px;
  width: 200px;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(253, 253, 253, 1),
    rgb(253, 253, 253)
  );
}

.button__container__right {
  position: absolute;
  right: 18px;
  height: 100px;
  width: 200px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(253, 253, 253, 1),
    rgb(253, 253, 253)
  );
}
